@media (max-width: 420px) {
    
    /*Cabeçalho*/

    .menu-pequeno {
        display: block;
    }
    .texto-controle-financeiro {
        width: 80%;
        text-align: center;
        padding: 0px;
        margin-right: 50px;
    }
    .conteudo-menu {
        overflow-x: hidden;
        width: 351px;
        transform: translateX(0px);
        position: fixed;
        display: block;
        padding: 0px;
        padding-top: 15px;
        margin: 0px;
        top: 0;
        height: 100%;
        background: #333333;
        text-align: end;
        z-index: 3;
    }
    /*Menu Pequeno*/
    input[type="checkbox"]
    {
        display: none;
    }
    label {
        padding: 15px;
        position: absolute;
        margin-right: -20px;
        right: 40px;
        top: 20px;
    }
    .icone {
        background-color: #333333;
        width: 350px;
        height: 100%;
        position: absolute;
        right: -350px;
        top: 0px;
        transition: all 0.5s;
    }
    input[type="checkbox"]:checked~.icone
    {
        transform: translateX(-350px);
    }
    .conteudo-icone {
        list-style: none;
        top: 40px;
        position: absolute;
        width: 100%;
        height: 80px;
        background-color: #333333;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0px;
    }
    .conteudo-icone li {
        display: flex;
        width: 100%;
        justify-content: right;
        align-items: center;
        text-decoration: none;
        color: white;
    }
    .conteudo-icone li a {
        display: flex;
        height: 32px;
        padding: 0px 20px 7px 0px;
        align-items: center;
    }
    .conteudo-icone a {
        color: white;
    }
    #cadastro-de-transacoes {
        display: flex;
        text-decoration: none;
        width: 100%;
        text-align: end;
        justify-content: flex-end;
}
    }
    #limpar-dados {
        display: flex;
        text-decoration: none;
        width: 100%;
        text-align: end;
        justify-content: flex-end;
    }
    .conteudo-icone a:hover {
        background-color: #C4C4C4;
        color: #333333;
    }
    #fechar {
        padding-right: 270px;
    }
}