@media (max-width: 440px) {
    .nova-transacao {
        border: none;
      }
      .titulo-transacao {
        display: none;
      }
      .formulario {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .campo-compra-venda, .nome, .valor, .botao {
          width: 100%;
          padding: 0px;   
      }
      .botao {
          text-align: end;
      }
      .acoes {
          flex-direction: column;
          align-items: center;
      }
      .inpt-botao {
          margin-bottom: 27px;
          width: 100%;
          padding: 0px;
          margin-top: 20px;
      }
      .extrato {
        border-top: solid #979797 1px;
      }
      .nova-transacao {
          display: block;
          flex-direction: row;
          width: 90%;
      }
      .titulo-nome {
          padding-top: 0px;
      }
      .extrato {
          padding: 2px;
          width: 94%;
      }
      .controle-financeiro {
          width: 100%;
          margin: 0px;
          padding-left: 22px;
      }
}