body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

.cabecalho {
    font-weight: 600;
    background: #E0E0E0;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.controle-financeiro {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 200px;
}
.controle-financeiro #texto-controle-financeiro {
    margin-left: 10px;
}
.logo {
    width: 40px;
    height: 40px;
}

.menu {
    font-size: 16px;
    height: 40px;
    width: 360px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-right: 200px;
    padding-right: 10px;
    padding-left: 10px;
}

.limpar-dados {
    display: flex;
}
.cadastro-de-transacoes {
    display: flex;
}
.linha {
    width: 20px;
    border: 1px solid #979797;
    transform: rotate(90deg);
    
}

.nova-transacao {
    height: 344px;
    width: 400px;
    margin-top: 110px;
    margin-left: 200px;
    border: 1px solid #979797;
    border-radius: 4px;
}

.nova-transacao #nova-transacao {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.tipo-de-transacao {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 6%;
    margin-bottom: 65%;
}
.tipo-de-transacao #compra-venda {
    height: 32px;
    width: 100%;
    border: 1px solid #979797;
    border-radius: 4px;
    color: #979797;
}